.navigation {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.logo img {
    width: 30px; 
    height: auto;
    padding-right: 30px;
    padding-top: 10px;
}
.nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.nav-menu ul li:first-child {
    margin-left: 0;
}

.nav-menu ul li a {
    text-decoration: none; 
    color: #000000; 
}
footer {
    background-color: #ffffff; 
    color: #000000; 
    padding-top: 100px; 
    padding-left: 20px;
}

h1 {
    margin-bottom: 10px;
    padding-left: 20px; 
}
.footer-links {
    display: inline-block;
}

.footer-links a {
    color: #000000; 
    text-decoration: none; 
}

.footer-links a:last-child {
    margin-right: 0; 
}
.heroImg .content {
    display: flex;
    align-items: center; 
}

.wonphoto {
    width: 300px;
    height: auto;
    padding-top: 100px;
}

.text-content {
    margin-left: 20px; 
}

.text-content h1,
.text-content p {
    display: inline-block;
    margin: 0;
    margin-right: 20px; 
    padding-top: 10px;
}

h2 {
    padding-left: 20px;
    margin-top: 100px;
}

.content-section {
    border: 1.5px solid #000;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    overflow: hidden; /* Ensure content doesn't overflow */
}
.content-section button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 20px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.content {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.content img {
    width: auto;
    height: 200px;
    margin-right: 20px;
}

.text-content {
    flex: 1;
    padding-bottom: 50px;
    text-align: left;
}

.text-content h2 {
    color: #000;
}

.text-content p {
    color: #333;
}
body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Montserrat', sans-serif;
}

/* For specific elements */
.navigation, footer {
    font-family: 'Montserrat', sans-serif;
}